@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello and Welcome to the Superhero Supermodels of the World Database!</h1>
    <img src="~/img/rupaul.jpg" class="col-sm-10" alt="oh no">
</div>
